<div class="center jumbotron">
<h1>Bienvenido!</h1>
<%= link_to 'Iniciar Sesión', login_path, class: "btn btn-lg btn-primary" %>  <%= link_to 'Registrarse', signup_path, class: "btn btn-lg btn-primary" %>
</div>